::ng-deep {
  * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  .root-ul {
    width: 150px;
  }

  .root-ul li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: #574f4f;
    padding-left: 0;
    position: relative;
  }

  .root-ul span {
    text-decoration: none;
    color: #eee;
    display: block;
    padding: 5px 10px;
    cursor: pointer;

    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .root-ul div {
    background-color: transparent;
    margin-right: 5px;
  }

  .root-ul div i {
    &.arrow-right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      border: solid #eee;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      cursor: pointer;
    }
  }

  .root-ul ul {
    display: none;
    position: absolute;
    right: -150px;
    top: 0;
    width: 150px;
  }

  ul.sub-menu-active {
    display: block;
  }

  span.sub-menu-active-span {
    background: #f03861;
  }
}
